<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="styles/style.css" rel = 'stylesheet'/>
</head>
<body class = "d-flex flex-column min-vh-100">
    <%-include("partial/header.ejs")%>
    <div class="flex-fill m-5">
        <h1 class="about-title">About Us</h1>
        <div class="m-5 about-content">
            <p>Welcome to Daily Blog, your go-to platform for sharing and discovering insightful blog posts on a variety of topics. Our mission is to create a vibrant community where writers and readers can connect, learn, and inspire each other through the power of words.</p>
            <p>At Daily Blog, we believe that everyone has a story to tell. Whether you're a seasoned blogger or just starting out, our platform provides you with the tools and audience to share your unique perspective with the world. From personal experiences to professional insights, we encourage diverse voices and viewpoints.</p>
            <p>Our team is dedicated to fostering a supportive environment for bloggers of all levels.  We offer resources, tips, and a user-friendly interface to help you create compelling content that resonates with your audience. Join us today and become a part of the Daily Blog community!</p>   
        </div>
    </div>
    <%-include("partial/footer.ejs")%>
    
</body>
</html>